@model int[]
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShoppingCart</h2>
@foreach (var item in Model) { 
<div class="editor-field"> @item </div>

}

